body {
  font-family: Arial, sans-serif;
  margin: 0; /*espacamento externo*/
  padding: 0; /*espacamento interno*/
  background-color: #f4f4f4;
  text-align: center;
}
header {
  background-color: #030588;
  color: white;
  padding: 15px 0px;
  font-size: 35px;
  font-weight: bold;
  width: 200%;
  display: flex;
  align-items: center;
  white-space: nowrap;
  width: auto;
  gap: 376px;
}

.img-trote {
  width: 125px;
  height: 125px;
  padding: 0px 50px;
  display: flex;
  border-radius: 10px;
}
.logo-facef {
  width: 125px;
  height: 125px;
  padding: 0px 50px;
  width: auto;
  display: flex;
}
nav {
  background: #1c32a2;
  padding: 10px;
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: center;
  width: auto;
}

#links-menu {
  display: flex;
  gap: 15px; /*distancia*/
}
nav a {
  color: white;
  text-decoration: none;
  padding: 3px 15px;
  font-size: 15px;
  background-color: #030588;
  border-radius: 5px;
}

.container{
  width: 80%;
  border-radius: 10px;
  margin: 20px auto;
  padding: 20px;
  text-align: justify;  
}

h2{
  text-align: center;
}
