body {
  font-family: Arial, sans-serif;
  margin: 0; /*espacamento externo*/
  padding: 0; /*espacamento interno*/
  background-color: #f4f4f4;
  text-align: center;
}

header {
  background-color: #030588;
  color: white;
  padding: 15px 0px;
  font-size: 24px;
  font-weight: bold;
}
.img-trote {
  width: 125px;
  height: 125px;
  margin-bottom: 10px;
  justify-content: right;
}
nav {
  background: #1c32a2;
  padding: 10px;
  display: flex;
  align-items: center;
}

#links-menu {
  display: flex;
  gap: 15px; /*distancia*/
}

nav a {
  color: white;
  text-decoration: none;
  padding: 3px 15px;
  font-size: 15px;
  background-color: #030588;
  border-radius: 5px;
}
